[submodule "submodules/gaussian-splatting"]
	path = submodules/gaussian-splatting
	url = https://github.com/sacrover/gaussian-splatting.git
[submodule "submodules/gaussian_splatting"]
	path = submodules/gaussian_splatting
	url = git@github.com:Allan11231123/gaussian-splatting.git
